<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head ('Työntekijät')" />
    <body class="container-fluid">
        <header th:replace="layout :: header" />

        <h4>Työntekijät</h4>

        <p>
            <a href="#add" class="btn btn-success">Lisää</a>
        </p>

        <table class="table table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th>Nimi</th>
                    <th>Sopimus</th>
                    <th>Muokkaa</th>
                    <th>Poista</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="e : ${employees}">
                    <td th:text="${e.fullName}">nimi</td>
                    <td th:text="${e.contract}">sopimus</td>
                    <td><a th:href="@{~/employee/{id}(id=${e.id})}">
                            <button class="btn-xs btn-info">Muokkaa</button>
                        </a>
                    </td>
                    <td><form method="post" th:action="@{~/employee/{id}/delete(id=${e.id})}">
                            <button class="btn-xs btn-danger">Poista</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <h4 id="add">Lisää työntekijä</h4>

        <form th:replace="layout :: addEmployee"/>
    </body>
</html>