<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head ('Työntekijän nimi')" /> 
    <body class="container-fluid">
        <header th:replace="layout :: header" />
        
        <h4>Työntekijän tiedot</h4>
        
        <!--Tässä voisi käyttää layoutin valmista...-->
        
        <form class="form-horizontal" method="post">
            <div th:replace="layout :: fullNameInput (fullNameValue='Essi Esimerkki')"/>
            
            <div class="form-group">
                <label class="col-sm-3 control-label" for="superior">Esimies:</label>
                <div class="col-sm-9">
                    <select class="form-control" id="superior" name="superior">
                        <option value="esimes1">Esko Esimies</option>
                        <option selected="" value="merima1">Matti Meri</option>
                        <option value="jaynjo1">Johanna Jäynä</option>
                    </select>
                </div>
            </div>
            
            <div th:replace="layout :: contractInput (contractValue='37.5')"/>
            <div th:replace="layout :: usernameInput (usernameValue='esimes2')"/>
            <div th:replace="layout :: passwordInput (passwordValue='salasana')"/>
            <div th:replace="layout :: submitButton ('Tallenna')"/>
        </form>
    </body>
</html>