<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home – sparkscheduler</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="main.css" />
    </head>
    <body>
        <h1>sparkscheduler</h1>
        <h4>Selaa..</h4>
        <div id="columns">
            <div id="left_col">
                <h5>..työntekijöitä</h5>
            </div>
            <div id="right_col">
                <h5>..työvuoroja</h5>
            </div>
        </div>
    </body>
</html>