<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head ('Kirjaudu')" />
    <body class="container-fluid">
        <header th:replace="layout :: header" />
        
        <h4>Kirjaudu sisään</h4>
        
        <form class="form-horizontal" method="post">
            <div th:replace="layout :: usernameInput"/>
            <div th:replace="layout :: passwordInput"/>
            <div th:replace="layout :: submitButton ('Kirjaudu')"/>
        </form>
    </body>
</html>