<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head (${unit.name} + ', ' + ${shift.startTime})" />
    <body class="container-fluid">
        <header th:replace="layout :: header" />

        <h4>Työvuoron tiedot</h4>

        <form class="form-horizontal" method="post" th:action="@{~/shift/{id}/edit(id=${shift.id})}">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="unit">Toimintayksikkö:</label>
                <div class="col-sm-9">
                    <select id="unit" name="unit" class="form-control">
                        <option th:each="u : ${units}" th:text="${u.name}" th:value="${u.id}" th:selected="${u.id.equals(shift.unit)}">unit name</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="employees">Työntekijät:</label>
                <div class="col-sm-9">
                    <select class="form-control" id="employees" name="employees" multiple="">
                        <option th:each="e : ${employees}" th:text="${e.fullName}" th:value="${e.id}" th:selected="${#lists.contains(shift.employees, e.id)}">employee name</option>
                    </select>
                </div>
            </div>

            <div th:replace="layout :: timeFromInput (timeFromValue=${timeFromValue})"/>
            <div th:replace="layout :: timeToInput (timeToValue=${timeToValue})"/>
            <div th:replace="layout :: submitButton ('Tallenna')"/>
        </form>
    </body>
</html>